<p id="notice"><%= notice %></p>

<h1>Listing Component Contents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @component_contents.each do |component_content| %>
      <tr>
        <td><%= link_to 'Show', component_content %></td>
        <td><%= link_to 'Edit', edit_component_content_path(component_content) %></td>
        <td><%= link_to 'Destroy', component_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component content', new_component_content_path %>
